#products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1px;
    text-align: center;
}
.product{
    border: 1px solid #ccc;
    padding: 4px;
    margin: 15px 0;
    width: 250px;
    border-radius: 6px;
    box-shadow: 3px 3px gray;
}
.product img{
    width: 100%;
    height: auto;
}
.price{
    font-weight: bold;
}
.product button{
    background-color: #3dc13d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}